@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
	font-size: 18px;
}

body {
	margin: 0;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	min-width: 320px;
	background: url('/images/fabric_of_squares_gray.png') repeat;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Old Standard TT', serif;
	font-weight: 400;
	margin: 0;
}

span#learning {
	font-style: italic;
	border-left: 2px solid DarkGrey;
	border-right: 2px solid DarkGrey;
	text-align: center;
	display: block;

	:before {
		content: "Currently: ";
		font-weight: bold;
	}
}

ul.skills {
	margin: 0;
	padding-left: 0;
	transform: translateZ(0);

	>li {
		font-family: 'Old Standard TT', serif;
		font-weight: 800;
		font-size: 1.6em;
		list-style: none;
		color: lighten(Black, 35%);

		li {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			list-style: none;
			font-size: 0.6em;
			color: lighten(Black, 35%)
		}

	}

	ul {
		padding-left: .5em;
	}
}

header {
	text-align: center;
	margin-bottom: 2em;
}

p {
	line-height: 2em;
}

main p:first-of-type:first-letter {
	font-size: 2em;
}

footer {
	clear: both;
	text-align: center;
	margin-top: 3em;
	background: url('/images/zwartevilt.png') repeat;
	padding: 1/4em;
	color: White !important;

	p {
		font-family: "banshee-std", sans-serif;
	}
}

h4 {
	font-size: 2em;
	font-weight: 400;
}

ul.contact {
	font-size: 0.75em;
	list-style: none;
	display: block;
	margin: 0;
	width: 100%;
	padding-left: 0;
	li {
		display: inline;
	}
	li:first-of-type {
		margin-right: 1em;
	}
}

a {
	color: Grey;
	text-decoration: none;
	border-bottom: 1px dashed Grey;
}

a:hover {
	color: darken(Grey, 25%);
	border-bottom: 1px solid Grey;
}

h1.name {
	font-size: 8em;
	text-align: center;
	padding: 0.15em 0.15em 0em 0.15em;
	color: Black;
	// text-shadow: -2px 2px 0px DarkOrange;
	font-weight: normal;
	font-family: "banshee-std", sans-serif;
	position: relative;
	z-index: 1;
	-webkit-animation: name 1.5s ease-out 0s infinite alternate;
	animation: name 1.5s ease-out 0s infinite alternate;
}

div.page-header {
	border-bottom: 1px dashed lighten(Black, 75%);
}

ul.medias {
	list-style: none;
	width: 100%;
	padding-left: 0;
	li {
		display: inline;
		margin: 0 2%;
	}
}

h2.title {
	font-family: "velino-poster",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 3.25em;
	margin-top: -0.65em;
	opacity: 0.8;
	text-shadow: 0.05em 0.05em 0px lighten(Black, 85%);
	// ANIMATION
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipInX;
	animation-name: flipInX;
	-webkit-animation-delay: 0.5s; /* Chrome, Safari, Opera */
    animation-delay: 0.5s;
}

h3 {
	font-size: 3em;
	font-weight: 800;
}

//***************************************
// ANIMATIONS
//***************************************

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

:not(body, html, script, head) {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

@-webkit-keyframes name {
    0%   {opacity: 0.4;}
    100% {opacity: 1;}
}

@keyframes name {
    0%   {opacity: 0.4;}
    100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-delay: 0.75s; /* Chrome, Safari, Opera */
  animation-delay: 0.75s;
}

//***************************************
// MEDIA STYLES
//***************************************

// Small Devices
@media (max-width: 768px) {
	html {
		font-size: 14px;
	}

	div.container {
		margin: 0em auto;
		padding: 0em;
		width: 100%;
	}

	h1.name {
		font-size: 5.25em;
	}

	h2.title {
		font-size: 2em;
	}

	main {
		float: none;
		width: 90%;
		padding: 0% 5%;
		max-width: 37em;
		margin: 0 auto;
	}

	ul.skills {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;

		max-width: 41em;
		margin: 0em auto;
		width: 100%;
		li {
			width: 50%;
		}
	}

}

@media (max-width: 392px) {
	h3 {
		font-size: 2em;
	}
}

@media (max-width: 447px) {
	h1.name {
		font-size: 3.75em;
	}
	h2.title {
		font-size: 1.5em;
	}
}

// Large Devices
@media (min-width: 769px) {
	div.container {
		margin: 0em auto;
		padding: 0em;
		width: 100%;
	}

	main {
		float: none;
		width: 100%;
		max-width: 37em;
		margin: 0 auto;
	}

	ul.skills {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;

		max-width: 41em;
		margin: 0em auto;
		width: 100%;
		li {
			width: 50%;
		}
	}

}