@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
	font-size: 18px;
}

body {
	margin: 0;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Old Standard TT', serif;
	font-weight: 400;
	margin: 0;
}

ul.skills {
	>li {
		font-family: 'Old Standard TT', serif;
		font-weight: 800;
		display: inline;
		float: left;
		margin-left: 5%;
		font-size: 1.6em;
		list-style: none;
		color: lighten(Black, 35%);

		li {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			list-style: none;
			font-size: 0.6em;
			color: lighten(Black, 35%)
		}

	}

	ul {
		padding-left: .5em;
	}
}

footer {
	clear: left;
	position: absolute;
	bottom: 0;
}

header {
	text-align: center;
	margin-bottom: 2em;
}

img.me {
	width: 400;
	height: 500;
}

div.container {
	margin: 0 auto;
	width: 1200px;
}

p {
	line-height: 2em;
}

p:first-letter {
	font-size: 2em;
}

h1.name {
	font-size: 8em;
	margin: 0;
	text-align: center;
	padding: 0.15em 0.15em 0em 0.15em;
	color: Black;
	// text-shadow: -2px 2px 0px DarkOrange;
	font-weight: normal;
	font-family: "banshee-std", sans-serif;
	position: relative;
	z-index: 1;
	animation: name 1.5s ease-out 0s infinite alternate;
}

div.col-lg-4 {
	width: 50%;
	float: left;
}

h2.title {
	font-weight: 200;
	font-size: 3.25em;
	margin-top: -0.65em;
	margin-bottom: 0;
	color: Black;
	opacity: 0.8;
	animation: title 1.5s ease-out 0s infinite alternate;
	font-family: "velino-poster",sans-serif;
	font-style: normal;
	font-weight: 400;
}

/* The animation code */
@keyframes name {
    0%   {opacity: 0.7;}
    100% {opacity: 1;}
}


h3 {
	font-size: 3em;
}


ul.skills {
	margin: 0;
	padding-left: 0;
}

@media (max-width: 320px) {
	html {
		font-size: 16px;
	}

	div.container {
		margin: 0 auto;
		width: 100%;
	}

	h1.name {
		font-size: 5.25em;
		margin: 0;
		text-align: center;
	}

}