@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


@ZombieGreen: #54C571;
@BoardPurp: #AB81FE;
@BoardRed: #DA1B59;
@BoardGreen: #18F13B;
@LinkGreen: #789B06;
@LinkOrg: #CB5D0E;

html {
  font-size: 18px;
}

body {
  margin: 0;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
  background: url('/images/fabric_of_squares_gray.png') repeat;

  @media (min-resolution: 2dppx) {
    background: url('/images/fabric_of_squares_gray_@2X.png') repeat;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Old Standard TT', serif;
  font-weight: 400;
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul#papers {
    font-size: 0.75em;
}

ul#temps {
    font-size: 0.75em;
    margin: 0;
}

small {
    font-size: 0.75em;
}

img#office {
    height: 200px;
}

img#me {
    width: 100%;
    padding: -1em;
    background-color: white;
}

aside {
    background-color: #131313;
    color: White;
    padding: 1em;
    flex: 0 0 25%;

    h1.name {
        font-size: 6em;
        text-align: center;
        padding: 0.15em 0.15em 0em 0.15em;
        color: White;
        // text-shadow: -2px 2px 0px DarkOrange;
        font-weight: normal;
        font-family: "banshee-std", sans-serif;
        position: relative;
        z-index: 1;
        -webkit-animation: name 1.5s ease-out 0s infinite alternate;
        animation: name 1.5s ease-out 0s infinite alternate;

        background: -webkit-linear-gradient(@BoardGreen, @BoardRed);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h2.title {
        font-family: "velino-poster",sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2.25em;
        margin-top: -0.65em;
        color: darken(White, 40%);


        // ANIMATION
        -webkit-backface-visibility: visible !important;
        backface-visibility: visible !important;
        -webkit-animation-name: flipInX;
        animation-name: flipInX;
        -webkit-animation-delay: 0.5s; /* Chrome, Safari, Opera */
        animation-delay: 0.5s;
    }

    ul#git_activity {
        font-size: 0.75em;
        text-align: center;
        color: lighten(@BoardPurp, 10%);

        &:before {
            content: "My Recent GitHub Activity";
            color: @ZombieGreen;
            font-size: 1.25em;
        }
    }
}

ul.inline {
  li {
    display: inline;

    &:not(:first-of-type):before {
      content: ",";
      color: Grey;
      margin-right: 0.25em;
    }
  }
}

ul.skills {
  margin: 0;
  padding-left: 0;
  transform: translateZ(0);

  >li {
    font-family: 'Old Standard TT', serif;
    font-weight: 800;
    font-size: 1.6em;
    list-style: none;
    color: lighten(Black, 35%);

    li {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      list-style: none;
      font-size: 0.6em;
      color: lighten(Black, 35%)
    }

  }

  ul {
    padding-left: .5em;
  }
}

header {
  text-align: center;
  margin-bottom: 2em;
}

p {
  line-height: 2em;
}

footer {
  clear: both;
  text-align: center;
  margin-top: 2em;
  background-color: #131313;
  padding: 1/4em;
  color: White !important;

  p {
    font-family: "banshee-std", sans-serif;
  }
}

h4 {
  font-size: 2em;
  font-weight: 400;
}

ul.contact {
  font-size: 0.75em;
  list-style: none;
  display: block;
  margin: 0;
  width: 100%;
  padding-left: 0;
  li {
    display: inline;
    &:not(:last-of-type) {
      margin-right: 1em;
    }
  }
}

a {
  color: Grey;
  text-decoration: none;
  border-bottom: 1px dashed Grey;
}

a:hover {
  color: darken(Grey, 25%);
  border-bottom: 1px solid Grey;
}

div.page-header {
  border-bottom: 1px dashed lighten(Black, 75%);
}

ul.medias {
  list-style: none;
  width: 100%;
  padding-left: 0;
  li {
    display: inline;
    margin: 0 2%;
  }
}

h3 {
  font-size: 3em;
  font-weight: 800;
}

//***************************************
// ANIMATIONS
//***************************************

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

:not(body, html, script, head) {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes name {
    0%   {opacity: 0.4;}
    100% {opacity: 1;}
}

@keyframes name {
    0%   {opacity: 0.4;}
    100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-delay: 0.75s; /* Chrome, Safari, Opera */
  animation-delay: 0.75s;
}

//***************************************
// MEDIA STYLES
//***************************************

// Small Devices
@media (max-width: 768px) {
  aside {
    footer > p, img, ul#git_activity {
      display: none;
    }
  }

  div.container {
    margin: 0em auto;
    padding: 0em;
    width: 100%;
  }

  h1.name {
    font-size: 5.5em;
  }

  h2.title {
    font-size: 1.8em;
  }

  main {
    float: none;
    width: 90%;
    padding: 0% 5%;
    max-width: 37em;
    margin: 1em auto;
  }

  ul.skills {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;

    max-width: 41em;
    margin: 0em auto;
    width: 100%;
    li {
      //width: 50%;
    }
  }
}

@media (max-width: 392px) {
  h3 {
    font-size: 2em;
  }
}

// Large Devices
@media (min-width: 769px) {
  div.container {
    margin: 0em auto;
    padding: 0em;
    width: 100%;
        display: flex;
  }

  main {
    float: none;
    width: 100%;
    max-width: 37em;
    margin: 0 auto;
    padding: 2em;
  }

  ul.skills {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    max-width: 41em;
    margin: 0em auto;
    width: 100%;
    li {
      //width: 50%;
    }
  }
}
