doctype html
html(lang="en")
  head
    title Rafael Cepeda
    meta(charset="UTF-8")
    link(rel="stylesheet" type="text/css" href="less/layout.min.css")
    script(src="//use.typekit.net/dbs7yxs.js")
    script try{Typekit.load();}catch(e){}
  body
    div.container
      header
        h1.name Rafael Cepeda
        h2.title Full Stack Web Developer
      main
        ul.skills
          li Languages
            ul
              li HTML
              li CSS
              li JavaScript
              li PHP
          li Databases
            ul
              li MySQL
              li MongoDB
          li Webservers
            ul
              li NGINX
              li Apache
          li Linux
            ul
              li Ubuntu
              li CentOS

      footer
        ul
          li 
            a(href="https://github.com/ralph3991" target="_blank") My GitHub
          li 
            a(href="https://stackoverflow.com/users/4135670/rafael?tab=profile" target="_blank") My StackOverflow