doctype html
html(lang="en")
  head
    title Rafael Cepeda
    meta(charset="UTF-8")
  body
    div
      main
        h1 Rafael Cepeda
        h2 Full Stack Web Developer
        p Programming for the web is a huge passion of mine!
        
        h3 Education
        p University of West Florida <br> Information Technology
        
        h3 Skillset

        //- Languages
        ul
          li Languages
            ul
              li HTML5
                ul
                  li Jade
              li CSS3
                ul
                  li Less
                  li SASS
                  li SCSS
              li JavaScript
                ul
                  li Jade
                  li Express.js
                  li Grunt
                  li Bower
                  li JSON
                  li jQuery
                  li Mongoose
                  li Other NPM's
              li PHP5
                ul
                  li Composer
                  li Laravel
                  li Symfony
          li Database
            ul
              li SQL
              li MongoDB
          li Webservers
            ul
              li NGINX
              li Apache
          li Server Operating Systems
            ul
              li Ubuntu
              li CentOS

      footer
        ul
          li 
            a(href="https://github.com/ralph3991" target="_blank") My GitHub
          li 
            a(href="https://stackoverflow.com/users/4135670/rafael?tab=profile" target="_blank") My StackOverflow