doctype html
html(lang="en")
  head
    title Rafael Cepeda | Software Engineer
    meta(charset="UTF-8")
    meta(name="author" content="Rafael Cepeda")
    meta(name="description" content="Rafael Cepeda is a passionate Software Engineer that loves all things computer science.")
    meta(name="keywords" content="software engineer, full stack developer")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="css/layout.css")
    script(src="//use.typekit.net/dbs7yxs.js")
    script try{Typekit.load();}catch(e){}
  body
    div.container
      aside
        header(itemscope itemtype="http://schema.org/Person")
          h1.name(itemprop="name") Rafael Cepeda
          h2.animated.title(itemprop="jobTitle") Software Engineer
          ul.contact
            li: a(href="mailto:r.cepeda@linux.com" itemprop="email") r.cepeda@linux.com
            li: a(href="tel:14077651696" itemprop="telephone") +1 (407) 765-1696
        ul#git_activity
        img#me(src="images/me.svg" alt="Rafael Cepeda")
        footer
          ul.medias
            li: a(href="https://github.com/MrOutput" target="_blank") GitHub
            li: a(href="https://bitbucket.org/MrOutput" target="_blank") Bitbucket
            li: a(href="http://stackoverflow.com/users/4135670/rafael?tab=profile" target="_blank") StackOverflow
          p Rafael L. Cepeda
      main
        h4 Education
        p Univeristy of West Florida <br><small><a href="http://uwf.edu/cse/departments/computer-science/undergradmajors/information-technology/network-systems-operations/" target="_blank">B.S. Information Technology: Network Systems Operations</a></small>
        h4 Certificates
        ul.inline
          //-li Network+
          //-li Security+
          //-li MCSA: SQL Server
          li <a href="http://uwf.edu/continuinged/departments/career-development/certificate-programs/intelligence-analysis/" target="_blank">Intelligence Analysis</a>
        h4 Workflow
        ul.inline
          li Gentoo
          li i3
          li Dvorak Keyboard
          li Vim
          li Git
        h4 Skillset
        ul.skills
          li Languages
            ul
              li HTML
              li CSS
              li JavaScript
              li PHP
              li Java
              li C
              li Assembly
              li Shell
          li Databases
            ul
              li Oracle
              li MySQL
              li MongoDB
              li Redis
          li Webservers
            ul
              li NGINX
              li Mongoose
              li Apache
              li Node HTTP
          li Servers
            ul
              li Debian Based
              li RHEL
              li FreeBSD
              li Arch
          li Package Management
            ul
              li Composer
              li NPM
              li Bower
          li Testing
            ul
              li Node Assert
              li Mocha
              li PHPUnit
          li Frameworks &amp; Libraries
            ul
              li Express.js
              li AngularJS
              li Laravel
              li Symfony
              li Fatfree
              li jQuery
              li Bootstrap
              li SemanticUI
          li Technologies &amp; Services
            ul
              li AJAX
              li REST
              li WebSocket
              li OpenSSL
              li OpenSSH
          li Automation
            ul
              li Grunt
              li Gulp
          li Version Control
            ul
              li Git
    script.
        var git = new XMLHttpRequest();
        git.open("GET", "https://api.github.com/users/MrOutput/events/public");
        git.responseType = "json";
        git.onload = function () {
            var activity = document.getElementById("git_activity");

            for (var i = 0; i < 10; i++) {
                var msg = "";
                switch (git.response[i].type) {
                    case "PushEvent":
                        msg = "Pushed to";
                        break;
                    case "WatchEvent":
                        msg = "Starred";
                        break;
                    case "IssueCommentEvent":
                        msg = "Commented on an Issue at";
                        break;
                    case "IssuesEvent":
                        msg = "Opened Issue at";
                        break;
                    case "ForkEvent":
                        msg = "Forked";
                        break;
                    case "CreateEvent":
                        msg = "Created";
                        break;
                    case "PublicEvent":
                        msg = "Released";
                        break;
                    default:
                         msg = git.response[i].type;
                }
                msg = document.createTextNode(msg + " ");
                var li = document.createElement("li");
                var a = document.createElement("a");
                a.href = "http://www.github.com/" + git.response[i].repo.name;
                a.target = "_blank";;
                a.innerHTML = git.response[i].repo.name;
                li.appendChild(msg);
                li.appendChild(a);
                activity.appendChild(li);
            }
        };
        git.send();
