doctype html
html(lang="en")
  head
    title Rafael Cepeda | Software Engineer
    meta(charset="UTF-8")
    meta(name="author" content="Rafael Cepeda")
    meta(name="description" content="Rafael Cepeda is a passionate Software Engineer that loves all things computer science.")
    meta(name="keywords" content="software engineer, full stack developer")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="css/layout.css")
    script(src="//use.typekit.net/dbs7yxs.js")
    script try{Typekit.load();}catch(e){}
  body
    div.container
      aside
        header(itemscope itemtype="http://schema.org/Person")
          h1.name(itemprop="name") Rafael Cepeda
          h2.animated.title(itemprop="jobTitle") Software Engineer
          ul.contact
            li: a(href="mailto:r.cepeda@linux.com" itemprop="email") r.cepeda@linux.com
            li: a(href="tel:14077651696" itemprop="telephone") +1 (407) 765-1696
        ul#git_activity
        img#me(src="images/me.svg" alt="Rafael Cepeda")
        footer
          ul.medias
            li: a(href="https://github.com/MrOutput" target="_blank") GitHub
            li: a(href="https://www.linkedin.com/in/rafael-cepeda-54a173154/" target="_blank") LinkedIn
            li: a(href="http://stackoverflow.com/users/4135670/rafael?tab=profile" target="_blank") StackOverflow
          p Rafael L. Cepeda
      main
        h4 Education
        p University of West Florida <br><small><a href="http://uwf.edu/cse/departments/computer-science/undergradmajors/information-technology/network-systems-operations/" target="_blank">B.S.&nbsp;Information&nbsp;Technology: Network&nbsp;Systems&nbsp;Operations</a></small>
        h5 Papers
        ul#papers
          li
            a(href="files/cepeda_rafael_mid_journal.pdf" target="_blank") Excursions in Compiler-Construction
          li
            a(href="files/the_modern_web.pdf" target="_blank") The Modern Web
        h4 Certificates
        ul#certs
          //-li Network+
          //-li Security+
          //-li MCSA: SQL Server
          li <a href="http://uwf.edu/continuinged/departments/career-development/certificate-programs/intelligence-analysis/" target="_blank">Intelligence Analysis</a>
          li <a href="http://uwf.edu/ceps/departments/instructional-workforce-and-applied-technology/certificate-programs/technology-systems-support/" target="_blank">Technology Systems Support</a>
        //-
          h4 Preferred Workflow
          ul.inline
            li Gentoo
            li i3
            li Dvorak Keyboard
            li ViM
            li Git
        h4 Skill Set
        ul.skills
          li Programming Languages
            ul
              li Assembly
              li C
              li Perl
              li Sed / AWK
              li Java
              li JavaScript
              li PHP
              li Bash
          li Web Technologies
            ul
              li Angular
              li J2EE
              li HTML
              li CSS
              li Laravel
              li TypeScript
          li Databases
            ul
              li Oracle
              li MySQL
              li MongoDB
              li Redis
          li Web Servers
            ul
              li NGINX
              li Mongoose
              li Apache
          li Operating Systems
            ul
              li UNIX
          //-
            li Tools
              ul
                li Git
                li Bash
        //-
          h5(style="margin-top: 1em") Temporary Files
          ul#temps
            li
              a(href="files/tree_algo.txt" target="_blank" download) Tree Algorithms
    script.
        var git = new XMLHttpRequest();
        git.open("GET", "https://api.github.com/users/MrOutput/events/public");
        git.responseType = "json";
        git.onload = function () {
            var activity = document.getElementById("git_activity");

            for (var i = 0; i < 10; i++) {
                var msg = "";
                switch (git.response[i].type) {
                    case "PushEvent":
                        msg = "Pushed to";
                        break;
                    case "WatchEvent":
                        msg = "Starred";
                        break;
                    case "IssueCommentEvent":
                        msg = "Commented on Issue at";
                        break;
                    case "IssuesEvent":
                        msg = "Opened Issue at";
                        break;
                    case "ForkEvent":
                        msg = "Forked";
                        break;
                    case "CreateEvent":
                        msg = "Created";
                        break;
                    case "PullRequestEvent":
                        msg = "Pull Request to";
                        break;
                    case "DeleteEvent":
                        msg = "Deleted";
                        break;
                    case "PublicEvent":
                        msg = "Released";
                        break;
                    default:
                         msg = git.response[i].type;
                }
                msg = document.createTextNode(msg + " ");
                var li = document.createElement("li");
                var a = document.createElement("a");
                a.href = "http://www.github.com/" + git.response[i].repo.name;
                a.target = "_blank";;
                a.innerHTML = git.response[i].repo.name;
                li.appendChild(msg);
                li.appendChild(a);
                activity.appendChild(li);
            }
        };
        git.send();
