doctype html
html(lang="en")
  head
    title Rafael Cepeda | Software Engineer
    meta(charset="UTF-8")
    meta(name="author" content="Rafael Cepeda")
    meta(name="description" content="Rafael Cepeda is a passionate Software Engineer that loves all things computer science.")
    meta(name="keywords" content="software engineer, full stack developer")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="css/layout.css")
    script(src="//use.typekit.net/dbs7yxs.js")
    script try{Typekit.load();}catch(e){}
  body
    div.container
      header(itemscope itemtype="http://schema.org/Person")
        h1.name(itemprop="name") Rafael Cepeda
        h2.animated.title(itemprop="jobTitle") Software Engineer
        ul.contact
          li: a(href="mailto:r.cepeda@linux.com" itemprop="email") r.cepeda@linux.com
          li: a(href="tel:14077651696" itemprop="telephone") +1 (407) 765-1696
      main
        div.page-header
          h3.animated.fadeInDown Back in the Day...
        p
          | Looking back, being grounded wasn't such a bad thing. 
          | Programming for the web has been a passion of mine ever 
          | since picking up a Microsoft Front Page 2002 book in the empty 
          | room where I would take my punishment. 
        p
          | I love working with a fun, energetic, passionate team of developers!
        h4 Education
        p Univeristy of West Florida <br> <small>B.S. Information Technology:Network Systems Operations</small>
        h4 Workflow
        ul#workflow
          li Arch Linux
          li i3
          li Dvorak Keyboard
          li VIM
          li Git
          li Shell
        h4 Skillset
        ul.skills
          li Languages
            ul
              li HTML
              li CSS
              li JavaScript
              li PHP
              li Java
              li C
              li Assembly
              li Shell
          li Node
          li Databases
            ul
              li Oracle
              li MySQL
              li MongoDB
              li Redis
          li Webservers
            ul
              li NGINX
              li Apache
              li Node HTTP
          li Servers
            ul
              li Debian Based
              li RHEL
              li Arch
          li Package Management
            ul
              li Composer
              li NPM
              li Bower
          li Testing
            ul
              li Node Assert
              li Mocha
              li PHPUnit
          li Frameworks &amp; Libraries
            ul
              li Express.js
              li AngularJS
              li Laravel
              li Symfony
              li Fatfree
              li jQuery
              li Bootstrap
              li SemanticUI
          li Technologies &amp; Services
            ul
              li AJAX
              li REST
              li WebSocket
              li OpenSSL
              li OpenSSH
          li Automation
            ul
              li Grunt
              li Gulp
          li Version Control
            ul
              li Git
        span#learning
          i The Linux Programming Interface
      footer
        ul.medias
          li: a(href="https://github.com/MrOutput" target="_blank") GitHub
          li: a(href="https://bitbucket.org/MrOutput" target="_blank") Bitbucket
          li: a(href="http://stackoverflow.com/users/4135670/rafael?tab=profile" target="_blank") StackOverflow
        p Rafael L. Cepeda
